*.project
music/
pictures/
thumbs/
www/fonts/yutapon_coding_081/
www/fonts/yutapon_coding_080/
.settings/com.aptana.editor.php.prefs
www/controllers/ignore/
www/views/ignores/
www/img/banner/search/
www/img/banner/mutal/
www/img/banner/game/
