/**
 * 	Hitokuchi-hu Theme
 */


@CHARSET "UTF-8";
@font-face{
	font-family:'yutapon';
	/*src:url('/fonts/yutapon_coding_081001.ttf.gz') format('truetype'); */
	src:url('/fonts/yutapon_coding_081001.ttf') format('truetype'); 
}
html, body{
	height: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: yutapon;
	font-size:16px;
}

body{
	background-color:#fff4cf;
	/*line-height:20px;*/
	line-height:1.3rem;
	border-style: none; border-width: 1px;
	text-shadow:0px 0px 1px #ddeeff;
/*	background-image:url(/images/common/crysta_top_h.png);*/
	color:#ae8d19;
	margin:0;
	padding:0;
}

ul, li, dl, dt, dd{
	margin:0;
	padding:0;
	background-repeat:no-repeat;
}
li{
	text-decoration: none;
	list-style: none;
	background-repeat:no-repeat;

}

img{
	background-repeat:no-repeat;
	margin:0;
	padding:0;
}

h1, h2{
	padding:0;
	margin:0;
	font-size: 1.5rem;
	line-height:1.6rem;
}

@media screen and (max-width:640px){
	h1, h2{
		font-size: 1.2rem;
	}
}

a{
	color: hsl(80, 30%, 60%);
	font-weight: bold;
	text-decoration:underline;
	background-repeat:no-repeat;
}
a:hover{
	color: hsl(80, 30%, 80%);
	text-decoration:none;
}


article{
	width:90%;
	max-width:34rem;
	min-width:300px;
	margin: 0 auto;
	padding:0;
}
section h1{
	margin:0.8rem 0;
}
section h1:before{
	content:'【';
}
section h1:after{
	content:'】';
}

section p{
	margin:0;
	padding:0;
	white-space:pre-wrap;
	line-height: 1.8rem;
	text-align:left;
}

section{
	background-color:white;
	margin:0.8rem 0;
	padding:0.8rem;
}

#container{
	/*margin: 8px auto;*/
	min-height: 100%;
	height: auto !important;
	height: 100%;
	position: relative;
	overflow: hidden;
}

hr{
	border-width: 0 0.4rem 0.8rem 16.0rem;
	border-style: solid;
	border-color: #ae8d19 transparent;
	border-radius: 3rem;
	clear: both;
}

.donate{
	float:right;
}

.resp_nl{
	display:none;
}
@media screen and (max-device-width:640px){
	.resp_nl{
		display:block;
	}
}
@media screen and (max-width:640px){
	.resp_nl{
		display:block;
	}
}

.soundBox{
	text-align: right;
}
audio{
	vertical-align: middle;
}

span{
	vertical-align: middle;
}
/*
.sublink a{
	font-size:0.8rem;
}
*/
.clear{
	font-size:0;
	line-height:0;
	height:0;
	visibility: hidden;
	display:block;
	clear:both;
	border-width: 1px 0 0 0;
	margin: -1px 0 0 0;
	padding:0;
}

.blink{
	animation-name:blinkSimple;
	animation-duration: 0.2s;
	animation-iteration-count: infinite;
}
@keyframes blinkSimple{
	0%{opacity:0;}
	49.9%{	opacity:0;}
	50%{opacity:1;}
	99.9%{opacity:1;}
}

.text_red{
	color:red;
}
.block_left{
	float:left;
}
.text_center{
	text-align:center;
	display:block;
}
.text_left{
	text-align:left;
}
.text_right{
	text-align:right;
}

.hide{
	display:none;
}

.bold{
	font-weight: bold;
}

/**
 * 	Header part
 */
header{
	margin:0;
	padding:0;
}
nav{
	margin:0;
	padding:0;
	text-align: left;

}
nav .otemoto{
	height: 48px;
	background-image:url('/img/common/otmt_front.png');
	background-repeat: repeat-x;
	min-width:1024px;
	overflow: hidden;
}

.otemoto h1,.otemoto h2{
	background-image: url('/img/common/otmt_back.png');
	background-repeat: repeat-x;
	width:20%;
	min-width: 160px;
	height:48px;
	margin:0;
	float:left;
	line-height: 48px;
}
.otemoto h1 #banner{
	width: 100px;
	height: auto;
}

.otemoto .otmt_sep{
	background-image:url('/img/common/otmt_sep.png');
	background-repeat: no-repeat;
	width:60px;
	height:48px;
	float:right;

}
.otemoto .menu{
/*	width:64%;*/
	/*min-width:640px;*/
	height:48px;
	margin:0;
	float:left;
}
.otemoto .menu ul{
	margin: 0.6rem;
	font-size: 0;
	float:right;
	/*height: 32px;
    overflow: hidden;
    position: relative;*/
 }

.otemoto .menu ul #youji{
	display:none;
}

.otemoto .menu li, .otemoto .menu a{
	width:96px;
	height:32px;
	padding:0;
	margin:0;
	/*display:inline-block;*/
	float:left;
}

.otemoto .menu a,
.otemoto .menu a:hover,
.otemoto .menu a img:hover,
{
	transition-property: all;
	transition-timing-function: ease;
	transition-delay: initial;
}

.otemoto .menu a{
	background-position: center center;
	width:96px;
	display:block;
	text-align:right;
	transition-duration: 0.4s;
	text-decoration: none;
}

.otemoto .menu a:hover{
	background-position: left center;
	width:128px;
	transition-duration: 0.6s;
}

.otemoto .menu a img{
	background-position: center right;
	transition-duration: 0.4s;
	width:96px;
	height:32px;
	opacity:0;
}
.otemoto .menu a img:hover{
	transition-duration: 0.6s;
	width:128px;
	opacity:1;
}

@media screen and (max-width:640px){
	.otemoto .menu #banner{
		z-index: 100;
		position: absolute;
	}
	.otemoto .menu ul{
		background-image:url('/img/common/youji_bg.png');
		background-position: 256px top;
		position:absolute;
		right:0;
		margin: 0;
		width: 150px;
		overflow:hidden;
		z-index:7000;
		transition-duration: 0.2s;
		transition-delay:0.2s;
	}
	.otemoto .menu ul.clip{
		background-position: right 0;
		width:48px;
		/*height:48px;*/
		padding: 0;
		transition-duration: 0.6s;
	}
	
	.otemoto .menu ul #youji{
		display:block;
		/*position:relative;
		right:0;*/
		margin: 0 auto 0 0;
		padding: 0;
		background-image:url('/img/common/youji.png');
		background-position: top right;
		width:48px;
		height:48px;
		background-color:transparent;
	}
	
	.otemoto .menu ul #youji a{
		background-image:url('/img/common/youji_clip.png');
		background-position: 256px top;
		transition-duration: 0.2s;

	}	
	.otemoto .menu ul.clip #youji a{
		background-position: top right;
		width:48px;
		height:48px;
		opacity:1;
		transition-duration: 0.6s;
	}
	
	.otemoto .menu ul.clip li{
		height:0;
		transition-duration: 0.2s;
	}
	
	.otemoto .menu li{
		background-color:white;
		padding: 0 0.5rem;
		width:128px;
		height:auto;
		transition-duration: 0.2s;
		padding: 0 0.5rem !important;
		margin: 0 0 0 auto;
	}

	.otemoto .menu li, .otemoto .menu a{
		float:none;
		padding-bottom: 0.5rem;
		padding:0;
		height: 48px;
	}
	.otemoto .menu a{
		background-position: center left;
	}
	.otemoto .menu a img{
		position: absolute;
		right: 0;
		width:96px;
		/*height:32px;*/
		height:48px;
		opacity:1;
		transition-duration: 1.1s;
	}
	.otemoto .menu ul.clip a img{
		transition-duration: 0.6s;
		opacity:0;
	}
}

.otemoto .menu #top a{
	background-image:url('/img/common/icon_top.png');
}
.otemoto .menu #about a{
	background-image:url('/img/common/icon_about.png');
}
.otemoto .menu #oekaki a{
	background-image:url('/img/common/icon_oekaki.png');
}
.otemoto .menu #appli a{
	background-image:url('/img/common/icon_appli.png');
}
.otemoto .menu #link a{
	background-image:url('/img/common/icon_link.png');
}
.otemoto .menu #top a img{
	background-image:url('/img/common/menu_top.png');
}
.otemoto .menu #about a img{
	background-image:url('/img/common/menu_about.png');
}
.otemoto .menu #oekaki a img{
	background-image:url('/img/common/menu_oekaki.png');
}
.otemoto .menu #appli a img{
	background-image:url('/img/common/menu_appli.png');
}
.otemoto .menu #link a img{
	background-image:url('/img/common/menu_link.png');
}

ul.breadcrumb{
	padding:0 0.5rem;
	margin:0;
}
ul.breadcrumb li{
	float:left;
}
ul.breadcrumb li:after{
	content:'>';
	margin:0;
	padding:0 0.5rem;
	font-size:0.8rem;
	line-height:0.8rem;
	vertical-align:bottom;
}
ul.breadcrumb li:nth-last-child(1):after{
	content:none;

}
ul.breadcrumb span{
	font-size:0.8rem;
	line-height:0.8rem;
	vertical-align:bottom;
}

.mainbox{
/*2 + 2.8rem */
	margin:0.5rem auto 4.8rem auto;
	text-align: center;
}

/**
 * 	footer part
 */
footer{
	background:#f8d59f;
	width:100%;
	margin:0;
	padding:0;
	position:absolute;
	bottom:0px;	
}

footer > p{
	text-align:center;
	font-size:0.8rem;
	min-height:1.4rem;
	margin:0;
	padding:0;
	vertical-align:middle;
	line-height: 1.4rem;
}

footer span{
	font-size:0.8rem;
	margin: 0 0.2rem;
}
footer span.siteName{
	font-weight:bold;
}
footer span.auther{
}
footer span.copyright{
}

#mailprompt{
	text-decoration: underline;
	cursor: pointer;
}


#display img{
	width:480px;
	height:360px;
}
@media screen and (max-width:640px){
	#display img{
		width:320px;
		height:240px;
	}
}

/**
 * 	About page
 */
article.about section p:first-line,article.about section p:last-line{
	line-height:0;
	white-space: normal;
}

.sns_buttons{
	text-align: right;
	white-space: normal;
}
article.about section .sns_buttons>div{
	/*display:inline-block;*/
}

/**
 * 	Oekaki page
 */

article.oekaki ul{
	margin: 0 1rem;
	line-height:0;
	width: 94%;
	transition-duration: 0.2s;
	height: auto;
	font-size: 0;
	text-align:left;
	/*background-color:gray; */
}
article.oekaki ul:hover{
	transition-duration: 0.2s;
	padding: 0.5rem 0;
	
}

article.oekaki li{
	display: inline-block;
	background-color:black; 
}
/*article.oekaki li:hover{
	
}*/
article.oekaki ul img{
	transition-duration: 0.2s;
	height:60px;
	z-index:0;
	position:static;
	top:0px;
}
article.oekaki ul img:hover{
	transition-duration: 0.2s;
	height:80px;
	margin:-10px;
	z-index:100;
	position:relative;
	top:-10px;
}

article.oekaki time:before{
	content: '●';
	padding: 0 0.2rem;
	display: inline-block;
	text-indent: -0.5rem;

}
article.oekaki time{
	margin: 1rem 0 -1px 0;
	float:left;
	background-color: #AE8D19;
	color: white;
	padding: 0.2rem 1.4rem 0.2rem 1rem;
	border-radius: 0 1rem;
	font-size: 0.8rem;
	line-height: 0.8;
	vertical-align: middle;
}

canvas#picview{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index:8000;
}

/**
 * Appli page
 */
article.appli p{
	margin:1rem 0;
	padding:0;
}
article.appli dl{
	transition-duration: 0.8s;
	max-height:10000px;
	overflow: hidden;
}

article.appli section dt{
	font-size: 1.3rem;
	margin: 1rem 0 0.5rem 0;
	font-weight: bold;
}
@media screen and (max-width:640px){
	article.appli section dt{
		font-size: 1.1rem;
	}
}

article.appli section dd{
	white-space: pre-wrap;
	text-align:left;
}
article.appli section dd:first-line
{
	line-height:0;
	white-space: normal;
}

article.appli section dd{
	width: 90%;
	margin: 0 auto;
	text-align:center;
}

article.appli section dd.description{
	width: 90%;
	text-align:left;
}

article.appli section iframe{
	margin:0 auto;
	width: 90%;
	/*height: auto;*/
}


/**
 * Links page
 */
article.link section dt{
	text-align:left;
}
article.link section dd{
	margin-bottom: 1rem;
}
article.link section dd p{
	white-space: normal;
	overflow:hidden;
	line-height:auto;
	font-size:0.8rem;
	line-height: 1rem;
}
article.link section dd img{
	float:left;
	margin-right: 1rem;
}
article.link section dd br{
	display:none;
	clear:both;
}

article.link .pickup{
}
article.link .pickup .pickbody{
	overflow:scroll;
	-webkit-overflow-scrolling: touch;
	transition-duration:0.6s;
	transition-timing-function: ease-in;
	/*height:400px;*/
	display:block;
	max-height:400px;
}
.close, 
article.link .pickup .close{
	/*display:none;*/
	max-height:0 !important;
}

article.link .pickup p{
	font-weight:bold;
	text-align:right;
}

@media screen and (max-width:640px){
	article.link .pickup .pickbody{
		display:block;
		max-height:200px;
		transition-duration:0.6s;
		transition-timing-function: ease-in;
	}
	article.link section dd br{
		display:block;
	}
	article.link section dd img{
		margin-bottom:0.5rem;
	}

}
