/**
 * 	Hitokuchi-hu Theme
 */


@CHARSET "UTF-8";
@font-face{
	font-family:'yutapon';
	/*src:url('/fonts/yutapon_coding_081001.ttf.gz') format('truetype'); */
	src:url('/fonts/yutapon_coding_081001.ttf') format('truetype'); 
}
html, body{
	height: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: yutapon;
	font-size:16px;
}

body{
	background-color:#fff4cf;
	line-height:20px;
	border-style: none; border-width: 1px;
	text-shadow:0px 0px 1px #ddeeff;
/*	background-image:url(/images/common/crysta_top_h.png);*/
	color:#ae8d19;
	margin:0;
	padding:0;
}

ul, li, dl, dt, dd{
	margin:0;
	padding:0;
	background-repeat:no-repeat;
}
li{
	text-decoration: none;
	list-style: none;
	background-repeat:no-repeat;

}

img{
	background-repeat:no-repeat;
	margin:0;
	padding:0;
}

h1, h2{
	padding:0;
	margin:0;
	font-size: 1.5rem;
}

a{
	color: hsl(80, 30%, 60%);
	font-weight: bold;
	text-decoration:underline;
	background-repeat:no-repeat;
}
a:hover{
	color: hsl(80, 30%, 80%);
	text-decoration:none;
}


article{
	width:90%;
	max-width:34rem;
	min-width:300px;
	margin: 0 auto;
	padding:0;
}
section h1{
	margin:0.8rem 0;
}
section h1:before{
	content:'【';
}
section h1:after{
	content:'】';
}

section p{
	margin:0;
	padding:0;
	white-space:pre-wrap;
	line-height: 1.8rem;
	text-align:left;
}

section{
	background-color:white;
	margin:0.8rem 0;
	padding:0.8rem;
}

#container{
	/*margin: 8px auto;*/
	min-height: 100%;
	height: auto !important;
	height: 100%;
	position: relative;
}

header{
	margin:0;
	padding:0;
}
nav{
	margin:0;
	padding:0;
	text-align: left;

}
nav .otemoto{
	height: 48px;
	background-image:url('/img/common/otmt_front.png');
	background-repeat: repeat-x;
}

.otemoto h1,.otemoto h2{
	background-image: url('/img/common/otmt_back.png');
	background-repeat: repeat-x;
	width:20%;
	min-width: 160px;
	height:48px;
	margin:0;
	float:left;
	line-height: 48px;
}
.otemoto h1 #banner{
	width: 100px;
	height: auto;
}

.otemoto .otmt_sep{
	background-image:url('/img/common/otmt_sep.png');
	background-repeat: no-repeat;
	width:60px;
	height:48px;
	float:right;

}
.otemoto .menu{
/*	width:64%;*/
	/*min-width:640px;*/
	height:48px;
	margin:0;
	float:left;
}
.otemoto .menu ul{
	margin: 0.6rem;
	font-size: 0;
	float:right;
}

.otemoto .menu ul #youji{
	display:none;
}

.otemoto .menu li, .otemoto .menu a{
	width:96px;
	height:32px;
	padding:0;
	margin:0;
	/*display:inline-block;*/
	float:left;
}

.otemoto .menu a,
.otemoto .menu a:hover,
.otemoto .menu a img:hover,
{
	transition-property: all;
	transition-timing-function: ease;
	transition-delay: initial;
}

.otemoto .menu a{
	background-position: center center;
	width:96px;
	display:block;
	text-align:right;
	transition-duration: 0.4s;
	text-decoration: none;
}

.otemoto .menu a:hover{
	background-position: left center;
	width:128px;
	transition-duration: 0.6s;
}

.otemoto .menu a img{
	background-position: center right;
	transition-duration: 0.4s;
	width:96px;
	height:32px;
	opacity:0;
}
.otemoto .menu a img:hover{
	transition-duration: 0.6s;
	width:128px;
	opacity:1;
}

@media screen and (max-width:640px){
	.otemoto .menu #banner{
		z-index: 100;
		position: absolute;
	}
	.otemoto .menu ul{
		background-image:url('/img/common/youji_bg.png');
		background-position-x: 256px;
		position:absolute;
		right:0;
		margin: 0;
		width:128px;
		overflow:hidden;
		transition-duration: 0.2s;
	}
	.otemoto .menu ul.clip{
		background-position: top right;
		width:48px;
		height:48px;
		padding: 0;
		transition-duration: 0.6s;
	}
	
	.otemoto .menu ul #youji{
		display:block;
		position:relative;
		right:0;
		margin-bottom: 0;
		padding: 0;
		background-image:url('/img/common/youji.png');
		background-position: top right;
		width:48px;
		height:48px;
		background-color:transparent;
	}
	
	.otemoto .menu ul #youji a{
		background-image:url('/img/common/youji_clip.png');
		transition-duration: 0.2s;
		background-position-x: 256px;

	}	
	.otemoto .menu ul.clip #youji a{
		background-position: top right;
		width:48px;
		height:48px;
		opacity:1;
		transition-duration: 0.6s;
	}
	
	.otemoto .menu li{
		background-color:white;
		padding: 0 0.5rem;
		width:128px;
	}

	.otemoto .menu li, .otemoto .menu a{
		float:none;
		padding-bottom: 0.5rem;
	}
	.otemoto .menu a{
		background-position: center left;
	}
	.otemoto .menu a img{
		position: absolute;
		right: 0;
		width:96px;
		height:32px;
		opacity:1;
		transition-duration: 1.1s;
	}
	.otemoto .menu ul.clip a img{
		transition-duration: 0.6s;
		opacity:0;
	}
}

.otemoto .menu #top a{
	background-image:url('/img/common/icon_top.png');
}
.otemoto .menu #about a{
	background-image:url('/img/common/icon_about.png');
}
.otemoto .menu #oekaki a{
	background-image:url('/img/common/icon_oekaki.png');
}
.otemoto .menu #appli a{
	background-image:url('/img/common/icon_appli.png');
}
.otemoto .menu #top a img{
	background-image:url('/img/common/menu_top.png');
}
.otemoto .menu #about a img{
	background-image:url('/img/common/menu_about.png');
}
.otemoto .menu #oekaki a img{
	background-image:url('/img/common/menu_oekaki.png');
}
.otemoto .menu #appli a img{
	background-image:url('/img/common/menu_appli.png');
}

ul.breadcrumb{
	padding:0 0.5rem;
	margin:0;
}
ul.breadcrumb li{
	float:left;
}
ul.breadcrumb li:after{
	content:'>';
	margin:0;
	padding:0 0.5rem;
	font-size:0.8rem;
	line-height:0.8rem;
	vertical-align:bottom;
}
ul.breadcrumb li:last-child:after{
	content:none;

}
ul.breadcrumb span{
	font-size:0.8rem;
	line-height:0.8rem;
	vertical-align:bottom;
}

.mainbox{
	margin:0.5rem auto 2rem auto;
	text-align: center;
}

footer{
	background:#f8d59f;
	width:100%;
	margin:0;
	padding:0;
	position:absolute;
	bottom:0px;
}

footer > p{
	text-align:center;
	font-size:0.8rem;
	min-height:1.4rem;
	margin:0;
	padding:0;
	vertical-align:middle;
	line-height: 1.4rem;
}

footer span{
	font-size:0.8rem;
	margin: 0 0.2rem;
}
footer span.siteName{
	font-weight:bold;
}
footer span.auther{
}
footer span.copyright{
}

hr{
	border-width: 0 0.4rem 0.8rem 16.0rem;
	border-style: solid;
	border-color: #ae8d19 transparent;
	border-radius: 3rem;

}


#mailprompt{
	text-decoration: underline;
	cursor: pointer;
}

.donate{
	float:right;
}


.resp_nl{
	display:none;
}
@media screen and (max-device-width:640px){
	.resp_nl{
		display:block;
	}
}
@media screen and (max-width:640px){
	.resp_nl{
		display:block;
	}
}



.soundBox{
	text-align: right;
}
audio{
	vertical-align: middle;
}

span{
	vertical-align: middle;
}
/*
.sublink a{
	font-size:0.8rem;
}
*/
.clear{
	font-size:0;
	line-height:0;
	height:0;
	visibility: hidden;
	display:block;
	clear:both;
	border-width: 1px 0 0 0;
}

.text_red{
	color:red;
}
.block_left{
	float:left;
}
.text_center{
	text-align:center;
	display:block;
}
.text_left{
	text-align:left;
}
.text_right{
	text-align:right;
}

.hide{
	display:none;
}

.bold{
	font-weight: bold;
}

@media screen and (max-width:700px){
	.blackBox{
		width: 320px;
		height: 240px;
	}
}


article.about section p:first-line,article.about section p:last-line{
	line-height:0;
	white-space: normal;
}

article.about section .sns_buttons{
	text-align: right;
	white-space: normal;
}
article.about section .sns_buttons>div{
	/*display:inline-block;*/
}
/**
 * 	oekaki style
 */

article.oekaki ul{
	margin: 0 1rem;
	line-height:0;
	width: 94%;
	transition-duration: 0.2s;
	height: auto;
	font-size: 0;
	text-align:left;
	/*background-color:gray; */
}
article.oekaki ul:hover{
	transition-duration: 0.2s;
	padding: 0.5rem 0;
	
}

article.oekaki li{
	display: inline-block;
	background-color:black; 
}
/*article.oekaki li:hover{
	
}*/
article.oekaki ul img{
	transition-duration: 0.2s;
	height:60px;
	z-index:0;
	position:static;
	top:0px;
}
article.oekaki ul img:hover{
	transition-duration: 0.2s;
	height:80px;
	margin:-10px;
	z-index:100;
	position:relative;
	top:-10px;
}

article.oekaki time:before{
	content: '●';
	padding: 0 0.2rem;
	display: inline-block;
	text-indent: -0.5rem;

}
article.oekaki time{
	margin: 1rem 0 -1px 0;
	float:left;
	background-color: #AE8D19;
	color: white;
	padding: 0.2rem 1.4rem 0.2rem 1rem;
	border-radius: 0 1rem;
	font-size: 0.8rem;
	line-height: 0.8;
	vertical-align: middle;
}

/*article.oekaki a:hover{
	transition-duration: 0.3s;
	height:120%;
}*/
article.appli p{
	margin:1rem 0;
	padding:0;
}

article.appli section dt{
	font-size: 1.3rem;
	margin: 1rem 0 0.5rem 0;
	font-weight: bold;
}

article.appli section dd{
	white-space: pre-wrap;
	text-align:left;
}
article.appli section dd:first-line
{
	line-height:0;
	white-space: normal;
}

article.appli section dd{
	width: 90%;
	margin: 0 auto;
	text-align:center;
}

article.appli section dd.description{
	width: 90%;
	text-align:left;
}

article.appli section iframe{
	margin:0 auto;
}
